Repository Janesh98/CodingTest-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

test-frontend:
  stage: test
  script:
  - cd src/client
  - yarn install
  - yarn test --watchAll=false

test-backend:
  stage: test
  script:
  - cd src/functions
  - npm ci
  - npm run test

build-frontend:
  stage: build
  script:
  - cd src/client
  - yarn
  - yarn build
  artifacts:
    expire_in: 1 hour
    paths:
    - ./src/client/build/

deploy-backend:
  stage: deploy
  before_script:
  - npm i -g firebase-tools
  script:
  - cd src
  - firebase deploy --only functions --token $FIREBASE_TOKEN
  dependencies: []

deploy-frontend:
  stage: deploy
  before_script:
  - npm i -g firebase-tools
  script:
  - cd src/client
  - yarn install
  - yarn build
  - firebase deploy --only hosting --token $FIREBASE_TOKEN
  dependencies:
  - build-frontend

Button for adding challenges to existing tests
  src/client/src/App.js
  src/client/src/components/EditChallenge.js
  src/client/src/components/EditTest.js
  src/client/src/components/NewChallenge.js
Due: test-frontend, build-frontend, deploy-frontend

Add challenge selection & simple test input exec
  src/client/src/components/CodingTest/CodeEditor.js
  src/client/src/components/CodingTest/Problem.js
  src/client/src/components/CodingTest/Terminal.js
  src/functions/controllers/code.js
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

Fix Firebase functions module deprecation error
  src/functions/package-lock.json
  src/functions/package.json
Due: test-backend, deploy-backend

Fix error due to firebase dependcies requirment
  .gitlab-ci.yml
Due: none

CI Fix
  .gitlab-ci.yml
  src/functions/sum.test.js
Due: test-backend, deploy-backend

Fix CI directory error
  .gitlab-ci.yml
Due: none

Change to trigger pipeline
  src/functions/sum.test.js
Due: test-backend, deploy-backend

Email Invitations
  src/client/src/App.js
  src/client/src/components/AddParticipants.js
  src/client/src/components/Edit.js
  src/client/src/components/EditTest.js
  src/client/src/components/css/AddParticipants.css
  src/client/src/endpoints.js
  src/functions/controllers/email.js
  src/functions/index.js
  src/functions/package-lock.json
  src/functions/package.json
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

Store test participants in DB
  src/functions/controllers/email.js
  src/functions/models/CodingTestModel.js
  src/functions/models/ParticipantsModel.js
Due: test-backend, deploy-backend

Validate coding test url with participant id
  src/client/src/App.js
  src/client/src/components/CodingTest/Problem.js
  src/client/src/endpoints.js
  src/functions/controllers/users.js
  src/functions/index.js
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

updated url sent in invite
  src/functions/controllers/email.js
Due: test-backend, deploy-backend

Put test cases in array
  src/functions/controllers/users.js
  src/functions/models/CodingChallengeModel.js
Due: test-backend, deploy-backend

Run all test cases on run code button click
  src/client/src/components/CodingTest/CodeEditor.js
  src/client/src/components/CodingTest/Problem.js
  src/client/src/components/CodingTest/Terminal.js
  src/client/src/components/CodingTest/context/CodingTestReducer.js
  src/client/src/components/CodingTest/context/CodingTestState.js
Due: test-frontend, build-frontend, deploy-frontend

Unused import build error fix
  src/client/src/components/CodingTest/Problem.js
Due: test-frontend, build-frontend, deploy-frontend

Fix code output bug on test case when changing qs
  src/client/src/components/CodingTest/CodeEditor.js
  src/client/src/components/CodingTest/Problem.js
  src/client/src/components/CodingTest/Terminal.js
  src/client/src/components/CodingTest/context/CodingTestReducer.js
  src/client/src/components/CodingTest/context/CodingTestState.js
Due: test-frontend, build-frontend, deploy-frontend

Improve CI frontend build time
  .gitlab-ci.yml
Due: none

visual validation for test outputs
  .gitlab-ci.yml
  src/client/src/components/CodingTest/CodeEditor.js
  src/client/src/components/CodingTest/Problem.js
  src/client/src/components/CodingTest/Terminal.js
  src/client/src/components/CodingTest/context/CodingTestReducer.js
  src/client/src/components/CodingTest/context/CodingTestState.js
Due: test-frontend, build-frontend, deploy-frontend

Dashboard edit
  src/client/src/components/Card.js
  src/client/src/components/Dashboard.js
  src/client/src/components/css/Dashboard.css
Due: test-frontend, build-frontend, deploy-frontend

Fixed Dashboard warning
  src/client/src/components/Dashboard.js
Due: test-frontend, build-frontend, deploy-frontend

Save/reload progress on tab change in coding test
  src/client/src/components/CodingTest/CodeEditor.js
  src/client/src/components/CodingTest/Problem.js
  src/client/src/components/CodingTest/context/CodingTestReducer.js
  src/client/src/components/CodingTest/context/CodingTestState.js
Due: test-frontend, build-frontend, deploy-frontend

Fix missing previous code save bug in coding test
  src/client/src/components/CodingTest/CodeEditor.js
Due: test-frontend, build-frontend, deploy-frontend

video interview component
  src/client/package.json
  src/client/src/App.js
  src/client/src/components/CodingTest/VideoInterview/Camera.js
  src/client/src/components/CodingTest/VideoInterview/Header.js
  src/client/src/components/CodingTest/VideoInterview/Questions.js
  src/client/src/components/CodingTest/VideoInterview/VideoRecord.js
  src/client/src/components/CodingTest/context/CodingTestReducer.js
  src/client/src/components/CodingTest/context/CodingTestState.js
  src/client/src/components/css/Video.css
  src/client/yarn.lock
Due: test-frontend, build-frontend, deploy-frontend

Submit codingTest to MongoDB
  src/client/src/components/CodingTest/Header.js
  src/client/src/components/CodingTest/VideoInterview/Questions.js
  src/client/src/endpoints.js
  src/functions/controllers/users.js
  src/functions/index.js
  src/functions/models/ParticipantsModel.js
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

Store videos in firebase
  src/client/package.json
  src/client/src/components/CodingTest/VideoInterview/Camera.js
  src/client/src/firebase.js
  src/client/yarn.lock
Due: test-frontend, build-frontend, deploy-frontend

Started results section
  src/client/src/App.js
  src/client/src/components/ParticipantsList.js
  src/client/src/endpoints.js
  src/functions/controllers/users.js
  src/functions/index.js
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

Add basic remote code execution server
  src/remoteCodeExecution/controllers/code.js
  src/remoteCodeExecution/index.js
  src/remoteCodeExecution/package-lock.json
  src/remoteCodeExecution/package.json
Due: none

Add code ouput for rce & fix firebase deploy issue
  src/client/src/components/AddParticipants.js
  src/client/src/components/CodingTest/CodeEditor.js
  src/client/src/components/CodingTest/Header.js
  src/client/src/components/CodingTest/Problem.js
  src/client/src/components/CodingTest/VideoInterview/Questions.js
  src/client/src/components/CompanyInput.js
  src/client/src/components/Create.js
  src/client/src/components/Dashboard.js
  src/client/src/components/Edit.js
  src/client/src/components/EditChallenge.js
  src/client/src/components/EditQuestions.js
  src/client/src/components/EditTest.js
  src/client/src/components/NewChallenge.js
  src/client/src/components/ParticipantsList.js
  src/client/src/components/Questions.js
  src/client/src/components/Results.js
  src/client/src/components/Setup.js
  src/client/src/components/Signup.js
  src/client/src/endpoints.js
  src/client/src/firebase.js
  src/firebase.json
  src/functions/controllers/users.js
  src/functions/index.js
  src/remoteCodeExecution/index.js
  src/remoteCodeExecution/package-lock.json
  src/remoteCodeExecution/package.json
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

Update firebase.json
  src/firebase.json
Due: none

Jest testing
  src/client/src/App.test.js
  src/client/src/contexts/AuthContext.js
  src/client/src/setupTests.js
  src/client/src/test-utils.js
Due: test-frontend, build-frontend, deploy-frontend

fix
  src/client/src/App.test.js
  src/client/src/test-utils.js
Due: test-frontend, build-frontend, deploy-frontend

more jest
  src/client/src/App.test.js
  src/client/src/__tests__/App.test.js
  src/client/src/components/Edit.js
  src/client/src/components/Login.js
  src/client/src/components/Signup.js
  src/client/src/test-utils.js
Due: test-frontend, build-frontend, deploy-frontend

RCE for python now accepts variable code and input
  src/remoteCodeExecution/index.js
  src/remoteCodeExecution/package-lock.json
  src/remoteCodeExecution/package.json
Due: none

fix escaping issue in RCE and refactor
  src/remoteCodeExecution/controllers/code.js
  src/remoteCodeExecution/controllers/submission.js
  src/remoteCodeExecution/index.js
  src/remoteCodeExecution/package.json
  src/remoteCodeExecution/routes/submission.js
  src/remoteCodeExecution/server.js
  src/remoteCodeExecution/services/ExecutorService.js
  src/remoteCodeExecution/utils/escape.js
Due: none

Add producer consumer pattern RCE
  src/remoteCodeExecution/controllers/submission.js
  src/remoteCodeExecution/package-lock.json
  src/remoteCodeExecution/package.json
  src/remoteCodeExecution/routes/submission.js
  src/remoteCodeExecution/server.js
  src/remoteCodeExecution/worker.js
Due: none

Jest for front end components
  src/client/package.json
  src/client/src/__tests__/App.test.js
  src/client/src/__tests__/CompanyInput.test.js
  src/client/src/__tests__/Create.test.js
  src/client/src/__tests__/Edit.test.js
  src/client/src/__tests__/Setup.test.js
  src/client/src/components/CompanyInput.js
  src/client/src/components/Create.js
  src/client/src/components/Setup.js
  src/client/yarn.lock
Due: test-frontend, build-frontend, deploy-frontend

More JEST testing for front end components
  src/client/src/__tests__/CompanyInput.test.js
  src/client/src/__tests__/Create.test.js
  src/client/src/__tests__/Edit.test.js
  src/client/src/__tests__/EditChallenge.test.js
  src/client/src/__tests__/Setup.test.js
  src/client/src/components/Edit.js
  src/client/src/components/EditChallenge.js
  src/client/src/components/Setup.js
Due: test-frontend, build-frontend, deploy-frontend

JEST testing for components that have auth() funcs
  src/client/src/__tests__/EditChallenge.test.js
  src/client/src/__tests__/EditQuestions.test.js
  src/client/src/__tests__/EditTest.test.js
  src/client/src/__tests__/Login.test.js
  src/client/src/__tests__/NewChallenge.test.js
  src/client/src/__tests__/Questions.test.js
  src/client/src/__tests__/Results.test.js
  src/client/src/__tests__/Signup.test.js
  src/client/src/components/EditQuestions.js
  src/client/src/components/EditTest.js
  src/client/src/components/Login.js
  src/client/src/components/NewChallenge.js
  src/client/src/components/Questions.js
  src/client/src/components/Results.js
  src/client/src/components/Signup.js
Due: test-frontend, build-frontend, deploy-frontend

Add Jest setup & CI for RCE
  .gitlab-ci.yml
  src/remoteCodeExecution/__tests__/sample.test.js
  src/remoteCodeExecution/package-lock.json
  src/remoteCodeExecution/package.json
Due: none

Add execution time off RCE
  src/remoteCodeExecution/services/ExecutorService.js
  src/remoteCodeExecution/utils/runTime.js
Due: none

Add java for RCE
  src/remoteCodeExecution/services/ExecutorService.js
  src/remoteCodeExecution/worker.js
Due: none

Path conditions:
  test-frontend: any of: src/client/**/*
  test-backend: any of: src/functions/**/*
  build-frontend: any of: src/client/**/*
  deploy-backend: any of: src/functions/**/*
  deploy-frontend: any of: src/client/**/*
