Repository Janesh98/CodingTest-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, test-frontend, test-backend, test-RCE, deploy-backend, deploy-frontend, prod-e2e

build-frontend:
  stage: build
  cache:
    key: frontend-cache
    paths:
    - ./src/client/node_modules/
  script:
  - cd src/client
  - yarn
  - yarn build
  artifacts:
    expire_in: 1 mos
    paths:
    - ./src/client/build/
  retry:
    max: 2
    when:
    - runner_system_failure
    - stuck_or_timeout_failure

test-frontend:
  stage: test
  cache:
    key: frontend-cache
    paths:
    - ./src/client/node_modules/
    policy: pull
  script:
  - cd src/client
  - yarn
  - yarn test --watchAll=false
  retry:
    max: 2
    when:
    - runner_system_failure
    - stuck_or_timeout_failure

test-backend:
  stage: test
  cache:
    key: backend-cache
    paths:
    - ./src/functions/node_modules/
  script:
  - cd src/functions
  - npm i
  - npm test
  retry:
    max: 2
    when:
    - runner_system_failure
    - stuck_or_timeout_failure

test-RCE:
  stage: test
  cache:
    key: rce-cache
    paths:
    - ./src/remoteCodeExecution/node_modules/
  script:
  - cd src/remoteCodeExecution
  - npm i
  - npm run test:unit
  retry:
    max: 2
    when:
    - runner_system_failure
    - stuck_or_timeout_failure

deploy-backend:
  stage: deploy
  before_script:
  - npm i -g firebase-tools
  script:
  - cd src/functions
  - npm i --production
  - firebase deploy --only functions --token $FIREBASE_TOKEN
  cache: {}
  dependencies: []
  retry:
    max: 2
    when:
    - runner_system_failure
    - stuck_or_timeout_failure

deploy-frontend:
  stage: deploy
  before_script:
  - npm i -g firebase-tools
  script:
  - cd src/client
  - yarn install --prod
  - yarn build
  - firebase deploy --only hosting --token $FIREBASE_TOKEN
  cache: {}
  dependencies: []
  retry:
    max: 2
    when:
    - runner_system_failure
    - stuck_or_timeout_failure

prod-e2e:
  image: cypress/browsers:node14.16.0-chrome89-ff86
  stage: e2e
  script:
  - cd src/e2e
  - npx cypress run --browser chrome
  when: delayed
  start_in: 10 minutes
  cache: {}
  dependencies: []
  retry:
    max: 2
    when:
    - runner_system_failure
    - stuck_or_timeout_failure

added reset test function
  src/client/src/components/Edit.js
  src/client/src/endpoints.js
  src/functions/controllers/users.js
  src/functions/index.js
Due: build-frontend, test-frontend, test-backend, deploy-backend, deploy-frontend, prod-e2e

Add CodingTest controller unit tests
  src/functions/__tests__/integration/code.test.js
  src/functions/__tests__/unit/codingTest.test.js
  src/functions/app.js
  src/functions/controllers/codingTest.js
  src/functions/controllers/email.js
  src/functions/controllers/users.js
  src/functions/index.js
  src/functions/package.json
Due: test-backend, deploy-backend, prod-e2e

Finish codingTest controller unit tests
  src/functions/__tests__/unit/codingTest.test.js
  src/functions/controllers/codingTest.js
Due: test-backend, deploy-backend, prod-e2e

front end unit tests
  src/client/src/__tests__/CodingTest.test.js
  src/client/src/__tests__/EditChallenge.test.js
  src/client/src/__tests__/NewChallenge.test.js
  src/client/src/__tests__/ParticipantsList.test.js
  src/client/src/__tests__/Setup.test.js
Due: build-frontend, test-frontend, deploy-frontend, prod-e2e

Add company controller unit tests
  src/functions/__tests__/unit/codingTest.test.js
  src/functions/__tests__/unit/company.test.js
  src/functions/app.js
  src/functions/controllers/company.js
  src/functions/controllers/users.js
  src/functions/index.js
Due: test-backend, deploy-backend, prod-e2e

unit test for delete test function
  src/functions/__tests__/unit/delete.test.js
  src/functions/app.js
  src/functions/controllers/delete.js
  src/functions/controllers/users.js
  src/functions/index.js
Due: test-backend, deploy-backend, prod-e2e

unit tests for functions that cause deletion in db
  src/functions/__tests__/unit/delete.test.js
  src/functions/app.js
  src/functions/controllers/delete.js
  src/functions/controllers/users.js
  src/functions/index.js
Due: test-backend, deploy-backend, prod-e2e

add Register controller unit tests
  src/functions/__tests__/unit/register.test.js
  src/functions/app.js
  src/functions/controllers/company.js
  src/functions/controllers/register.js
  src/functions/controllers/users.js
  src/functions/index.js
Due: test-backend, deploy-backend, prod-e2e

Add Participant controller unit tests
  src/functions/__tests__/unit/participant.test.js
  src/functions/app.js
  src/functions/controllers/participant.js
  src/functions/controllers/users.js
  src/functions/index.js
Due: test-backend, deploy-backend, prod-e2e

Add Question controller unit tests
  src/functions/__tests__/unit/question.test.js
  src/functions/app.js
  src/functions/controllers/question.js
  src/functions/controllers/users.js
  src/functions/index.js
Due: test-backend, deploy-backend, prod-e2e

challenge unit tests
  src/functions/__tests__/unit/challenges.test.js
  src/functions/app.js
  src/functions/controllers/challenges.js
  src/functions/controllers/users.js
  src/functions/index.js
Due: test-backend, deploy-backend, prod-e2e

small change to unit tests
  src/functions/app.js
  src/functions/controllers/users.js
  src/functions/index.js
Due: test-backend, deploy-backend, prod-e2e

Refactor & Add Test/question controller unit tests
  src/functions/__tests__/unit/addQs.test.js
  src/functions/__tests__/unit/challenges.test.js
  src/functions/__tests__/unit/question.test.js
  src/functions/__tests__/unit/test.test.js
  src/functions/app.js
  src/functions/controllers/Test.js
  src/functions/controllers/challenges.js
  src/functions/controllers/question.js
  src/functions/controllers/users.js
  src/functions/index.js
Due: test-backend, deploy-backend, prod-e2e

Add email controller unit test
  src/functions/__tests__/unit/email.test.js
  src/functions/app.js
  src/functions/controllers/email.js
  src/functions/index.js
  src/functions/server.js
Due: test-backend, deploy-backend, prod-e2e

added missing await
  src/functions/controllers/challenges.js
Due: test-backend, deploy-backend, prod-e2e

small bug fix
  src/functions/__tests__/unit/challenges.test.js
Due: test-backend, deploy-backend, prod-e2e

Add Register Controller integration tests
  src/functions/__tests__/integration/register.test.js
  src/functions/controllers/register.js
Due: test-backend, deploy-backend, prod-e2e

Add integration job for backend to Gitlab CI
  .gitlab-ci.yml
Due: none

added integration tests for delete controller
  src/functions/__tests__/integration/delete.test.js
Due: test-backend, deploy-backend, prod-e2e

Fix gitlab mongo CI error & add participant IT
  src/functions/__tests__/integration/delete.test.js
  src/functions/__tests__/integration/participant.js
  src/functions/__tests__/integration/register.test.js
  src/functions/app.js
  src/functions/config/setEnvVars.js
  src/functions/package.json
Due: test-backend, deploy-backend, prod-e2e

finished integration tests
  src/functions/__tests__/integration/challenges.test.js
  src/functions/__tests__/integration/company.test.js
  src/functions/__tests__/integration/delete.test.js
  src/functions/__tests__/integration/email.test.js
  src/functions/__tests__/integration/participant.test.js
  src/functions/__tests__/integration/questions.test.js
  src/functions/__tests__/integration/test.test.js
  src/functions/__tests__/unit/question.test.js
Due: test-backend, deploy-backend, prod-e2e

e2e change
  src/e2e/cypress/integration/my-tests/edit-test-actions.js
  src/e2e/cypress/integration/my-tests/setup-test-actions.js
Due: prod-e2e

Update .env file
  src/client/.env
Due: build-frontend, test-frontend, deploy-frontend, prod-e2e

update e2e
  src/client/src/components/EditTest.js
  src/e2e/cypress/integration/my-tests/edit-test-actions.js
  src/functions/app.js
Due: build-frontend, test-frontend, test-backend, deploy-backend, deploy-frontend, prod-e2e

Fix CI errors in e2e stage
  src/client/.env
  src/e2e/cypress/integration/my-tests/codingTest-actions.js
  src/e2e/cypress/integration/my-tests/create-account-actions.js
  src/e2e/cypress/integration/my-tests/edit-test-actions.js
  src/functions/__tests__/integration/email.test.js
  src/functions/__tests__/unit/email.test.js
  src/functions/controllers/email.js
Due: build-frontend, test-frontend, test-backend, deploy-backend, deploy-frontend, prod-e2e

diasble edit qs button if no qs
  src/client/src/components/EditTest.js
Due: build-frontend, test-frontend, deploy-frontend, prod-e2e

Fix rendering issue in coding Test UI, closes #8
  src/client/src/components/CodingTest/CodeEditor.js
Due: build-frontend, test-frontend, deploy-frontend, prod-e2e

Fix small tab switching code being lost bug
  src/client/src/components/CodingTest/Problem.js
Due: build-frontend, test-frontend, deploy-frontend, prod-e2e

redesign video player
  src/client/src/components/DashboardImages/videoResponse.png
  src/client/src/components/PlayerCard.js
Due: build-frontend, test-frontend, deploy-frontend, prod-e2e

Add memory and timeout limits to RCE
  src/remoteCodeExecution/__tests__/unit/ExecutorService.test.js
  src/remoteCodeExecution/services/ExecutorService.js
Due: test-RCE, prod-e2e

Fix email tests
  src/functions/__tests__/integration/email.test.js
  src/functions/__tests__/unit/email.test.js
  src/functions/controllers/email.js
Due: test-backend, deploy-backend, prod-e2e

make timeout variable in RCE and set minimum
  src/remoteCodeExecution/__tests__/unit/ExecutorService.test.js
  src/remoteCodeExecution/controllers/submission.js
  src/remoteCodeExecution/services/ExecutorService.js
  src/remoteCodeExecution/worker.js
Due: test-RCE, prod-e2e

added timeouts for code to frontend and functions
  src/client/src/components/EditChallenge.js
  src/client/src/components/EditTest.js
  src/client/src/components/NewChallenge.js
  src/client/src/components/Setup.js
  src/functions/__tests__/integration/challenges.test.js
  src/functions/__tests__/unit/challenges.test.js
  src/functions/controllers/challenges.js
  src/functions/models/CodingChallengeModel.js
Due: build-frontend, test-frontend, test-backend, deploy-backend, deploy-frontend, prod-e2e

more unit and integration tests for functions
  src/functions/__tests__/integration/challenges.test.js
  src/functions/__tests__/unit/challenges.test.js
Due: test-backend, deploy-backend, prod-e2e

added boolean to db if coding test complete
  src/client/src/components/AddParticipants.js
  src/functions/__tests__/integration/email.test.js
  src/functions/controllers/email.js
  src/functions/models/ParticipantsModel.js
Due: build-frontend, test-frontend, test-backend, deploy-backend, deploy-frontend, prod-e2e

update when coding test has been attempted
  src/functions/controllers/codingTest.js
Due: test-backend, deploy-backend, prod-e2e

more front end tests
  src/client/src/__tests__/EditChallenge.test.js
  src/client/src/__tests__/NewChallenge.test.js
  src/client/src/__tests__/Setup.test.js
  src/client/src/firebase.js
Due: build-frontend, test-frontend, deploy-frontend, prod-e2e

redirect if already completed coding test
  src/client/src/App.js
  src/client/src/components/CodingTest/Problem.js
  src/client/src/components/CodingTest/testComplete.js
  src/functions/__tests__/unit/codingTest.test.js
  src/functions/controllers/codingTest.js
Due: build-frontend, test-frontend, test-backend, deploy-backend, deploy-frontend, prod-e2e

Adjusted date created in edit tables
  src/client/src/components/Edit.js
  src/client/src/components/EditTest.js
Due: build-frontend, test-frontend, deploy-frontend, prod-e2e

redirect user if there's no video qs
  src/client/src/components/CodingTest/Header.js
  src/client/src/components/CodingTest/testComplete.js
Due: build-frontend, test-frontend, deploy-frontend, prod-e2e

Path conditions:
  build-frontend: any of: src/client/**/*
  test-frontend: any of: src/client/**/*
  test-backend: any of: src/functions/**/*
  test-RCE: any of: src/remoteCodeExecution/**/*
  deploy-backend: any of: src/functions/**/*
  deploy-frontend: any of: src/client/**/*
  prod-e2e: any of: src/remoteCodeExecution/**/*, src/functions/**/*, src/client/**/*, src/e2e/**/*
