Repository Janesh98/CodingTest-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, test-frontend, test-backend, test-RCE, deploy-backend, deploy-frontend

build-frontend:
  stage: build
  script:
  - cd src/client
  - yarn
  - yarn build
  artifacts:
    expire_in: 1 mos
    paths:
    - ./src/client/build/

test-frontend:
  stage: test
  script:
  - cd src/client
  - yarn
  - yarn test --watchAll=false
  cache:
    policy: pull

test-backend:
  stage: test
  script:
  - cd src/functions
  - npm i
  - npm test

test-RCE:
  stage: test
  script:
  - cd src/remoteCodeExecution
  - npm i
  - npm test

deploy-backend:
  stage: deploy
  before_script:
  - npm i -g firebase-tools
  script:
  - cd src/functions
  - npm i --production
  - firebase deploy --only functions --token $FIREBASE_TOKEN
  cache: {}
  dependencies: []

deploy-frontend:
  stage: deploy
  before_script:
  - npm i -g firebase-tools
  script:
  - cd src/client
  - yarn install --prod
  - yarn build
  - firebase deploy --only hosting --token $FIREBASE_TOKEN
  cache: {}
  dependencies: []

RCE unit tests
  src/remoteCodeExecution/__tests__/unit/ExecutorService.test.js
  src/remoteCodeExecution/__tests__/unit/submission.test.js
Due: test-RCE

Upgrade Node to lts version
  .gitlab-ci.yml
Due: none

Commit to trigger pipeline to use updated CI yaml
  src/remoteCodeExecution/__tests__/unit/ExecutorService.test.js
Due: test-RCE

Added loading circle for videos upload to firebase
  src/client/src/components/CodingTest/VideoInterview/Camera.js
  src/client/src/components/DeleteAccountAlert.js
  src/client/src/components/css/Dashboard.css
Due: build-frontend, test-frontend, deploy-frontend

update mongodb qs array in coding test document
  src/client/src/components/EditTest.js
  src/functions/controllers/users.js
Due: build-frontend, test-frontend, test-backend, deploy-backend, deploy-frontend

unit
  src/remoteCodeExecution/__tests__/unit/ExecutorService.test.js
Due: test-RCE

Add .env config with necessary configuration
  src/client/src/.env
Due: build-frontend, test-frontend, deploy-frontend

More unit tests and configuration adjustments
  src/client/package.json
  src/functions/package.json
  src/remoteCodeExecution/__tests__/unit/ExecutorService.test.js
  src/remoteCodeExecution/config/dockerSetup.js
  src/remoteCodeExecution/package.json
  src/remoteCodeExecution/services/ExecutorService.js
Due: build-frontend, test-frontend, test-backend, test-RCE, deploy-backend, deploy-frontend

removed front end unit test warnings
  src/client/src/__tests__/Login.test.js
  src/client/src/__tests__/ParticipantsList.test.js
  src/client/src/__tests__/Signup.test.js
  src/client/src/components/ParticipantsList.js
Due: build-frontend, test-frontend, deploy-frontend

Add integration tests for RCE
  .gitlab-ci.yml
  src/client/yarn.lock
  src/remoteCodeExecution/__tests__/integration/submission.test.js
  src/remoteCodeExecution/__tests__/unit/ExecutorService.test.js
  src/remoteCodeExecution/__tests__/unit/submission.test.js
  src/remoteCodeExecution/app.js
  src/remoteCodeExecution/package-lock.json
  src/remoteCodeExecution/package.json
  src/remoteCodeExecution/server.js
Due: build-frontend, test-frontend, test-RCE, deploy-frontend

frontend unit tests
  src/client/src/__tests__/Card.test.js
  src/client/src/__tests__/ChallengeResult.test.js
  src/client/src/__tests__/Create.test.js
  src/client/src/__tests__/DeleteAccountAlert.test.js
  src/client/src/__tests__/Navbar.test.js
  src/client/src/__tests__/ParticipantsResults.test.js
  src/client/src/__tests__/PlayerCard.test.js
  src/client/src/components/Navbar.js
  src/client/src/components/PlayerCard.js
Due: build-frontend, test-frontend, deploy-frontend

coding test frontend unit tests
  src/client/src/__tests__/CodingTest.test.js
  src/client/src/components/CodingTest/CodeEditor.js
  src/client/src/components/CodingTest/CodingTest.js
  src/client/src/components/CodingTest/Header.js
Due: build-frontend, test-frontend, deploy-frontend

Handle if code not submitted
  src/client/src/components/ParticipantsResults.js
Due: build-frontend, test-frontend, deploy-frontend

Update RCE to Https & add coding test e2e
  src/client/src/.env
  src/client/src/components/CodingTest/CodeEditor.js
  src/functions/end-to-end testing/cypress/integration/my-tests/codingTest-actions.js
Due: build-frontend, test-frontend, test-backend, deploy-backend, deploy-frontend

video interview front end unit tests
  src/client/src/__tests__/VideoInterview.test.js
  src/client/src/components/CodingTest/VideoInterview/Camera.js
Due: build-frontend, test-frontend, deploy-frontend

Handle if user does not have camera
  src/client/src/components/CodingTest/VideoInterview/Camera.js
Due: build-frontend, test-frontend, deploy-frontend

Setup e2e for gitlab CI
  cypress.json
  src/e2e/cypress.json
  src/e2e/cypress/.eslintrc.json
  src/e2e/cypress/cypress/fixtures/example.json
  src/e2e/cypress/cypress/plugins/index.js
  src/e2e/cypress/cypress/support/commands.js
  src/e2e/cypress/cypress/support/index.js
  src/e2e/cypress/fixtures/example.json
  src/e2e/cypress/integration/my-tests/codingTest-actions.js
  src/e2e/cypress/integration/my-tests/create-account-actions.js
  src/e2e/cypress/integration/my-tests/edit-test-actions.js
  src/e2e/cypress/integration/my-tests/login-actions.js
  src/e2e/cypress/integration/my-tests/setup-test-actions.js
  src/e2e/cypress/plugins/index.js
  src/e2e/cypress/support/commands.js
  src/e2e/cypress/support/index.js
  src/functions/end-to-end testing/cypress.json
  src/functions/end-to-end testing/cypress/cypress.json
  src/functions/end-to-end testing/cypress/integration/my-tests/create-account-actions.js
  src/functions/end-to-end testing/cypress/integration/my-tests/edit-test-actions.js
  src/functions/end-to-end testing/cypress/integration/my-tests/login-actions.js
  src/functions/end-to-end testing/cypress/integration/my-tests/setup-test-actions.js
  src/functions/package.json
Due: test-backend, deploy-backend

Retry CI on network or timeout failure
  .gitlab-ci.yml
Due: none

small e2e test change
  src/cypress.json
  src/e2e/cypress/integration/my-tests/setup-test-actions.js
Due: none

Move .env to folder so Firebase finds it
  src/client/src/.env
Due: build-frontend, test-frontend, deploy-frontend

Fix viewport issue for e2e
  src/e2e/cypress.json
  src/e2e/cypress/integration/my-tests/codingTest-actions.js
  src/e2e/cypress/integration/my-tests/create-account-actions.js
  src/e2e/cypress/integration/my-tests/edit-test-actions.js
  src/e2e/cypress/integration/my-tests/login-actions.js
  src/e2e/cypress/integration/my-tests/setup-test-actions.js
  src/functions/package-lock.json
Due: test-backend, deploy-backend

Add test-e2e stage to CI pipeline
  .gitlab-ci.yml
  src/client/src/components/CodingTest/Problem.js
  src/e2e/cypress.json
  src/e2e/cypress/integration/my-tests/codingTest-actions.js
Due: build-frontend, test-frontend, deploy-frontend

Fix e2e CI
  .gitlab-ci.yml
Due: none

improved dashboard ui
  src/client/src/components/Dashboard.js
  src/client/src/components/DashboardImages/create.jpg
  src/client/src/components/DashboardImages/edit.jpg
  src/client/src/components/DashboardImages/results.jpg
  src/client/src/components/css/Dashboard.css
Due: build-frontend, test-frontend, deploy-frontend

added alert when email sends
  src/client/src/__tests__/App.test.js
  src/client/src/components/AddParticipants.js
  src/client/src/components/Dashboard.js
Due: build-frontend, test-frontend, deploy-frontend

e2e CI fix
  .gitlab-ci.yml
  src/e2e/cypress/integration/my-tests/codingTest-actions.js
Due: none

Fix failing e2e by increasing wait time
  src/e2e/cypress/integration/my-tests/create-account-actions.js
Due: none

Only run e2e 10 mins after deploy to production
  .gitlab-ci.yml
Due: none

Add google analytics
  src/client/src/firebase.js
Due: build-frontend, test-frontend, deploy-frontend

added alert when coding challenge saves
  src/client/src/components/Setup.js
  src/client/src/components/css/Setup.css
Due: build-frontend, test-frontend, deploy-frontend

ignore empty test cases for challenges
  src/functions/controllers/users.js
Due: test-backend, deploy-backend

can now have 10 testcases and improved setup ui
  src/client/src/__tests__/Setup.test.js
  src/client/src/components/Setup.js
  src/client/src/components/css/Setup.css
  src/functions/controllers/users.js
  src/functions/models/CodingChallengeModel.js
Due: build-frontend, test-frontend, test-backend, deploy-backend, deploy-frontend

updated edit challenge for 10 test casess
  src/client/src/__tests__/EditChallenge.test.js
  src/client/src/__tests__/NewChallenge.test.js
  src/client/src/components/EditChallenge.js
  src/client/src/components/EditTest.js
  src/client/src/components/NewChallenge.js
  src/functions/controllers/users.js
Due: build-frontend, test-frontend, test-backend, deploy-backend, deploy-frontend

Improve stage speed by using job specific cache
  .gitlab-ci.yml
Due: none

Add CodeService Unit Tests
  .gitlab-ci.yml
  src/functions/__tests__/unit/CodeService.test.js
  src/functions/controllers/code.js
  src/functions/package.json
  src/functions/services/CodeService.js
  src/functions/sum.js
  src/functions/sum.test.js
Due: test-backend, deploy-backend

Remove Cypress from functions folder
  src/functions/package-lock.json
  src/functions/package.json
Due: test-backend, deploy-backend

delete videos from firebase when delete test
  src/client/src/components/Edit.js
  src/client/src/components/EditChallenge.js
  src/client/src/components/NewChallenge.js
  src/client/src/components/Setup.js
Due: build-frontend, test-frontend, deploy-frontend

Add unit & integration tests for code controller
  src/functions/__tests__/integration/code.test.js
  src/functions/__tests__/unit/CodeService.test.js
  src/functions/__tests__/unit/code.test.js
  src/functions/app.js
  src/functions/config/ConnectMongo.js
  src/functions/config/config.js
  src/functions/controllers/code.js
  src/functions/controllers/users.js
  src/functions/package-lock.json
  src/functions/package.json
  src/functions/services/CodeService.js
  src/remoteCodeExecution/__tests__/unit/submission.test.js
Due: test-backend, test-RCE, deploy-backend

update tables
  src/client/src/components/EditTest.js
Due: build-frontend, test-frontend, deploy-frontend

edited test cases for coding test
  src/client/src/__tests__/NewChallenge.test.js
  src/client/src/__tests__/Setup.test.js
  src/client/src/components/EditChallenge.js
  src/client/src/components/NewChallenge.js
  src/client/src/components/Setup.js
Due: build-frontend, test-frontend, deploy-frontend

Path conditions:
  build-frontend: any of: src/client/**/*
  test-frontend: any of: src/client/**/*
  test-backend: any of: src/functions/**/*
  test-RCE: any of: src/remoteCodeExecution/**/*
  deploy-backend: any of: src/functions/**/*
  deploy-frontend: any of: src/client/**/*
