Repository Janesh98/CodingTest-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

.gitlab-ci.yml:

image: node:12

stages:
  - test
  - build
  - deploy

cache:
  paths:
    - ./src/client/node_modules/
    - ./src/functions/node_modules/

test-frontend:
  stage: test
  script:
    - cd src/client
    - yarn install
    - yarn test --watchAll=false
  only:
    changes:
      - src/client/**/*

test-backend:
  stage: test
  script:
    - cd src/functions
    - npm ci
    - npm run test
  only:
    changes:
      - src/functions/**/*

build-frontend:
  stage: build
  script:
    - cd src/client
    - yarn build
  artifacts:
    expire_in: 1 hour
    paths:
      - ./src/client/build/
  only:
    refs:
      - master
    changes:
      - src/client/**/*

deploy-backend:
  stage: deploy
  before_script:
  - npm i -g firebase-tools
  script:
    - cd src
    - firebase deploy --only functions --token $FIREBASE_TOKEN
  dependencies: []
  only:
    refs:
      - master
    changes:
      - src/functions/**/*

deploy-frontend:
  stage: deploy
  before_script:
  - npm i -g firebase-tools
  script:
    - cd src/client
    - yarn install
    - yarn build
    - firebase deploy --only hosting --token $FIREBASE_TOKEN
  dependencies: [build-frontend]
  only:
    refs:
      - master
    changes:
      - src/client/**/*

Revert "Merge branch 'develop' into 'master'"
  .gitlab-ci.yml
  src/client/package.json
  src/client/src/App.css
  src/client/src/App.js
  src/client/src/App.test.js
  src/client/src/components/CompanyInput.js
  src/client/src/components/Dashboard.js
  src/client/src/components/Login.css
  src/client/src/components/Login.js
  src/client/src/components/PrivateRoute.js
  src/client/src/components/Signup.css
  src/client/src/components/Signup.js
  src/client/src/contexts/AuthContext.js
  src/client/src/endpoints.js
  src/client/src/firebase.js
  src/client/src/index.css
  src/client/src/index.js
  src/client/src/logo.svg
  src/client/yarn.lock
  src/functions/.gitignore
  src/functions/config/config.js
  src/functions/controllers/users.js
  src/functions/index.js
  src/functions/models/UserModel.js
  src/functions/package-lock.json
  src/functions/package.json
  src/functions/sum.js
  src/functions/sum.test.js
  src/functions/utilities/admin.js
  src/functions/utilities/validation.js
  src/package-lock.json
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

Revert "Merge branch 'revert-cf717e6b' into 'develop'"
  .gitlab-ci.yml
  src/client/package.json
  src/client/src/App.css
  src/client/src/App.js
  src/client/src/App.test.js
  src/client/src/components/CompanyInput.js
  src/client/src/components/Dashboard.js
  src/client/src/components/Login.css
  src/client/src/components/Login.js
  src/client/src/components/PrivateRoute.js
  src/client/src/components/Signup.css
  src/client/src/components/Signup.js
  src/client/src/contexts/AuthContext.js
  src/client/src/endpoints.js
  src/client/src/firebase.js
  src/client/src/index.css
  src/client/src/index.js
  src/client/src/logo.svg
  src/client/yarn.lock
  src/functions/.gitignore
  src/functions/config/config.js
  src/functions/controllers/users.js
  src/functions/index.js
  src/functions/models/UserModel.js
  src/functions/package-lock.json
  src/functions/package.json
  src/functions/sum.js
  src/functions/sum.test.js
  src/functions/utilities/admin.js
  src/functions/utilities/validation.js
  src/package-lock.json
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

Fix build error in .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Fix frontend warnings causing build pipeline error
  src/client/src/components/Login.js
  src/client/src/components/Signup.js
  src/client/src/endpoints.js
Due: test-frontend, build-frontend, deploy-frontend

Small change to trigger pipeline to deploy backend
  src/functions/sum.test.js
Due: test-backend, deploy-backend

Replace process.env with firebase.config() env var
  src/functions/index.js
Due: test-backend, deploy-backend

Fixed 'cannot get /*' error when refresh
  src/firebase.json
Due: none

Created simple dashboard
  src/client/src/App.js
  src/client/src/components/Dashboard.css
  src/client/src/components/Dashboard.js
  src/client/src/components/Edit.js
  src/client/src/components/Results.js
  src/client/src/components/Setup.js
Due: test-frontend, build-frontend, deploy-frontend

Fix rewrites bug & missing data field in response
  src/client/src/components/CompanyInput.js
  src/client/src/components/Signup.js
  src/client/src/endpoints.js
  src/firebase.json
  src/functions/controllers/users.js
  src/functions/index.js
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

Use .env to decide whether api url is localhost
  src/client/src/endpoints.js
Due: test-frontend, build-frontend, deploy-frontend

prismjs
  package.json
  src/client/package.json
  src/client/yarn.lock
  src/functions/package-lock.json
  yarn.lock
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

Remove unnecessary files
  package.json
  src/functions/package-lock.json
Due: test-backend, deploy-backend

FrontEnd coding challenge setup
  src/client/package.json
  src/client/src/components/Dashboard.js
  src/client/src/components/Login.js
  src/client/src/components/Setup.js
  src/client/src/components/Signup.js
  src/client/src/components/css/Dashboard.css
  src/client/src/components/css/Login.css
  src/client/src/components/css/Setup.css
  src/client/src/components/css/Signup.css
  src/client/yarn.lock
Due: test-frontend, build-frontend, deploy-frontend

Add basic Coding Test environment setup
  src/client/package.json
  src/client/src/App.js
  src/client/src/components/CodingTest/CodeEditor.js
  src/client/src/components/CodingTest/CodingTest.js
  src/client/src/components/CodingTest/Problem.js
  src/client/src/components/CodingTest/Terminal.js
  src/client/src/components/CompanyInput.js
  src/client/src/components/Dashboard.js
  src/client/src/components/Login.js
  src/client/src/components/Setup.js
  src/client/src/components/Signup.js
  src/client/yarn.lock
Due: test-frontend, build-frontend, deploy-frontend

Added AppBar and Drawer
  src/client/src/App.js
  src/client/src/components/Dashboard.js
  src/client/src/components/Edit.js
  src/client/src/components/Navbar.js
  src/client/src/components/Results.js
  src/client/src/components/Setup.js
  src/client/src/components/css/Edit.css
  src/client/src/components/css/Results.css
  src/client/src/components/css/Setup.css
Due: test-frontend, build-frontend, deploy-frontend

Setup remote code execution with API
  src/client/src/components/CodingTest/CodeEditor.js
  src/client/src/components/CodingTest/CodingTest.js
  src/client/src/components/CodingTest/Problem.js
  src/client/src/components/CodingTest/Terminal.js
  src/client/src/endpoints.js
  src/functions/controllers/code.js
  src/functions/index.js
  src/functions/package-lock.json
  src/functions/package.json
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

Pass code output data to terminal window
  src/client/src/components/CodingTest/CodeEditor.js
  src/client/src/components/CodingTest/CodingTest.js
  src/client/src/components/CodingTest/Terminal.js
  src/client/src/components/CodingTest/context/CodingTestReducer.js
  src/client/src/components/CodingTest/context/CodingTestState.js
Due: test-frontend, build-frontend, deploy-frontend

Refactor card
  src/client/src/components/Card.js
  src/client/src/components/Setup.js
Due: test-frontend, build-frontend, deploy-frontend

Updated test setup ui
  src/client/src/App.js
  src/client/src/components/Create.js
  src/client/src/components/Dashboard.js
  src/client/src/components/Setup.js
  src/client/src/components/css/Create.css
Due: test-frontend, build-frontend, deploy-frontend

Fix signup password bug & improve error handling
  src/client/package.json
  src/client/src/components/Login.js
  src/client/src/components/Signup.js
  src/client/yarn.lock
Due: test-frontend, build-frontend, deploy-frontend

Add logout
  src/client/src/components/Navbar.js
  src/client/src/contexts/AuthContext.js
Due: test-frontend, build-frontend, deploy-frontend

Coding test mongoDB collection
  src/functions/models/CodingTestModel.js
Due: test-backend, deploy-backend

Updeated user model
  src/functions/models/UserModel.js
Due: test-backend, deploy-backend

Coding test id now stored in user document
  src/client/src/components/Create.js
  src/client/src/components/Navbar.js
  src/client/src/components/Setup.js
  src/client/src/endpoints.js
  src/functions/controllers/users.js
  src/functions/index.js
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

Challenge model for mongoDB
  src/client/src/components/Card.js
  src/client/src/components/Create.js
  src/functions/models/CodingChallengeModel.js
  src/functions/models/CodingTestModel.js
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

Challenges now stored in DB and mapped to user
  src/client/src/components/Setup.js
  src/client/src/endpoints.js
  src/functions/controllers/users.js
  src/functions/index.js
  src/functions/models/CodingChallengeModel.js
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

Add Test Cases to Terminal UI
  src/client/src/components/CodingTest/CodeEditor.js
  src/client/src/components/CodingTest/Terminal.js
Due: test-frontend, build-frontend, deploy-frontend

Can now add questions and save to DB
  src/client/package.json
  src/client/src/App.js
  src/client/src/components/Questions.js
  src/client/src/components/Setup.js
  src/client/src/components/css/Questions.css
  src/client/src/components/css/Setup.css
  src/client/src/endpoints.js
  src/client/yarn.lock
  src/functions/controllers/users.js
  src/functions/index.js
  src/functions/models/CodingTestModel.js
  src/functions/models/QuestionsModel.js
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

Add programming language selector & handle stderr
  src/client/src/components/CodingTest/CodeEditor.js
  src/client/src/components/CodingTest/CodingTest.js
  src/client/src/components/CodingTest/Header.js
  src/client/src/components/CodingTest/Problem.js
  src/client/src/components/CodingTest/Terminal.js
  src/client/src/components/CodingTest/context/CodingTestReducer.js
  src/client/src/components/CodingTest/context/CodingTestState.js
  src/client/src/components/CodingTest/languages.js
  src/client/src/index.js
  src/functions/controllers/code.js
  src/functions/controllers/users.js
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

Users can now delete coding tests
  src/client/src/components/Edit.js
  src/client/src/endpoints.js
  src/functions/controllers/users.js
  src/functions/index.js
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

Test names now have to be uniquw
  src/client/src/components/Create.js
  src/client/src/components/Edit.js
Due: test-frontend, build-frontend, deploy-frontend

Can now delete individual challenges and Qs
  src/client/src/App.js
  src/client/src/components/Edit.js
  src/client/src/components/EditTest.js
  src/client/src/endpoints.js
  src/functions/controllers/users.js
  src/functions/index.js
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

Add endpoint to get coding test details
  src/functions/controllers/users.js
  src/functions/index.js
Due: test-backend, deploy-backend

Add codingTest details to coding test env
  src/client/src/App.js
  src/client/src/components/CodingTest/Problem.js
  src/client/src/components/CodingTest/Terminal.js
  src/client/src/components/CodingTest/context/CodingTestReducer.js
  src/client/src/components/CodingTest/context/CodingTestState.js
  src/client/src/endpoints.js
  src/functions/controllers/users.js
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

Edit challenge
  src/client/src/App.js
  src/client/src/components/Edit.js
  src/client/src/components/EditChallenge.js
  src/client/src/components/EditTest.js
  src/client/src/components/Questions.js
  src/client/src/endpoints.js
  src/functions/controllers/users.js
  src/functions/index.js
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

Finished editing tests component
  src/client/src/App.js
  src/client/src/components/EditQuestions.js
  src/client/src/components/EditTest.js
  src/client/src/endpoints.js
  src/functions/controllers/users.js
  src/functions/index.js
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

Fix setup
  src/client/src/components/Setup.js
Due: test-frontend, build-frontend, deploy-frontend

Fix Editor language bug & improve error handling
  src/client/src/components/CodingTest/CodeEditor.js
  src/client/src/components/CodingTest/Terminal.js
Due: test-frontend, build-frontend, deploy-frontend

Small DB document changes
  src/client/src/components/Edit.js
  src/client/src/components/EditTest.js
  src/functions/controllers/users.js
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

Update CI to detect build errors before merge
  .gitlab-ci.yml
  src/client/src/components/CodingTest/Header.js
  src/client/src/components/Setup.js
Due: test-frontend, build-frontend, deploy-frontend
