Repository Janesh98/CodingTest-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

test-frontend:
  stage: test
  script:
  - cd src/client
  - yarn install
  - yarn test --watchAll=false

test-backend:
  stage: test
  script:
  - cd src/functions
  - npm ci
  - npm run test

build-frontend:
  stage: build
  script:
  - cd src/client
  - yarn
  - yarn build
  cache:
    policy: pull
  artifacts:
    expire_in: 1 mos
    paths:
    - ./src/client/build/

deploy-backend:
  stage: deploy
  before_script:
  - npm i -g firebase-tools
  script:
  - cd src/functions
  - npm i --production
  - firebase deploy --only functions --token $FIREBASE_TOKEN
  cache: {}

deploy-frontend:
  stage: deploy
  before_script:
  - npm i -g firebase-tools
  script:
  - cd src/client
  - yarn install --prod
  - yarn build
  - firebase deploy --only hosting --token $FIREBASE_TOKEN
  cache: {}

table for coding challenge results
  src/client/src/App.js
  src/client/src/components/ParticipantsResults.js
  src/client/src/endpoints.js
  src/functions/controllers/users.js
  src/functions/index.js
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

results page for challenges
  src/client/src/App.js
  src/client/src/components/ChallengeResult.js
  src/client/src/components/ParticipantsResults.js
  src/client/src/endpoints.js
Due: test-frontend, build-frontend, deploy-frontend

Add Jest Utils unit tests for RCE
  src/remoteCodeExecution/__tests__/utils.test.js
  src/remoteCodeExecution/services/ExecutorService.js
Due: none

unused variable removed
  src/client/src/components/ChallengeResult.js
Due: test-frontend, build-frontend, deploy-frontend

question response table in results page
  src/client/src/components/ParticipantsResults.js
Due: test-frontend, build-frontend, deploy-frontend

Add unit tests for RCE submission controller
  .gitlab-ci.yml
  src/functions/package.json
  src/remoteCodeExecution/__tests__/sample.test.js
  src/remoteCodeExecution/__tests__/unit/submission.test.js
  src/remoteCodeExecution/__tests__/unit/utils.test.js
  src/remoteCodeExecution/config/queueSetup.js
  src/remoteCodeExecution/controllers/submission.js
  src/remoteCodeExecution/package.json
  src/remoteCodeExecution/worker.js
Due: test-backend, deploy-backend

video playback of question responses
  src/client/package.json
  src/client/src/components/ParticipantsResults.js
  src/client/src/components/PlayerCard.js
  src/client/yarn.lock
Due: test-frontend, build-frontend, deploy-frontend

return memory usage for code execution in RCE
  src/remoteCodeExecution/__tests__/unit/escape.test.js
  src/remoteCodeExecution/__tests__/unit/extractMemory.test.js
  src/remoteCodeExecution/__tests__/unit/runTime.test.js
  src/remoteCodeExecution/services/ExecutorService.js
  src/remoteCodeExecution/utils/extractMemory.js
Due: none

JEST mock functions for button click simulations
  src/client/src/__tests__/CompanyInput.test.js
  src/client/src/__tests__/Create.test.js
  src/client/src/__tests__/EditChallenge.test.js
  src/client/src/__tests__/EditQuestions.test.js
  src/client/src/__tests__/EditTest.test.js
  src/client/src/__tests__/Login.test.js
  src/client/src/__tests__/NewChallenge.test.js
  src/client/src/__tests__/Questions.test.js
  src/client/src/__tests__/Setup.test.js
  src/client/src/__tests__/Signup.test.js
  src/client/src/components/CompanyInput.js
Due: test-frontend, build-frontend, deploy-frontend

Fix test case bug onclick Closes #7
  src/client/src/components/CodingTest/Terminal.js
Due: test-frontend, build-frontend, deploy-frontend

More jest testing
  src/client/src/__tests__/AddParticipants.test.js
  src/client/src/__tests__/Card.test.js
  src/client/src/__tests__/Dashboard.test.js
  src/client/src/__tests__/ParticipantsList.test.js
  src/client/src/components/AddParticipants.js
  src/client/src/components/Card.js
  src/client/src/components/Dashboard.js
Due: test-frontend, build-frontend, deploy-frontend

Connect RCE backend to frontend
  src/client/src/codeExecutionEndpoint.js
  src/client/src/components/CodingTest/CodeEditor.js
  src/client/src/endpoints.js
  src/remoteCodeExecution/package-lock.json
  src/remoteCodeExecution/package.json
  src/remoteCodeExecution/server.js
  src/remoteCodeExecution/services/ExecutorService.js
Due: test-frontend, build-frontend, deploy-frontend

fix spacing issue with video interview grid #5
  src/client/src/components/CodingTest/VideoInterview/VideoRecord.js
Due: test-frontend, build-frontend, deploy-frontend

fix gaps in coding test grid Closes #4
  src/client/src/components/CodingTest/CodingTest.js
Due: test-frontend, build-frontend, deploy-frontend

Setup code execution to allow support for 2 apis
  src/client/src/codeExecutionEndpoint.js
  src/functions/index.js
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

handle sign-in-google before sign-up-google #6
  src/client/src/components/Login.js
  src/client/src/endpoints.js
  src/functions/controllers/users.js
  src/functions/index.js
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

removed background colour warning and console logs
  src/client/src/components/CodingTest/CodingTest.js
  src/client/src/components/CodingTest/VideoInterview/VideoRecord.js
  src/functions/controllers/code.js
  src/functions/controllers/email.js
  src/functions/controllers/users.js
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

Fix saving issue in coding test ui, closes #3
  src/client/src/components/CodingTest/CodeEditor.js
  src/client/src/components/CodingTest/Header.js
  src/client/src/components/CodingTest/Problem.js
  src/client/src/components/CodingTest/Terminal.js
Due: test-frontend, build-frontend, deploy-frontend

update questions model in mongodb
  src/client/src/components/CodingTest/VideoInterview/Camera.js
  src/client/src/components/CodingTest/VideoInterview/Questions.js
  src/client/src/components/CodingTest/context/CodingTestState.js
  src/client/src/components/EditQuestions.js
  src/client/src/components/EditTest.js
  src/client/src/components/Questions.js
  src/functions/controllers/users.js
  src/functions/models/QuestionsModel.js
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

amended tests for changes made
  src/client/src/__tests__/EditQuestions.test.js
  src/client/src/__tests__/EditTest.test.js
Due: test-frontend, build-frontend, deploy-frontend

fixed webcam issue
  src/client/src/components/CodingTest/VideoInterview/Camera.js
  src/client/src/components/EditQuestions.js
Due: test-frontend, build-frontend, deploy-frontend

results page changes to fit new questions model
  src/client/src/components/ParticipantsResults.js
Due: test-frontend, build-frontend, deploy-frontend

fix results if participant has not attempted test
  src/client/src/components/ParticipantsResults.js
Due: test-frontend, build-frontend, deploy-frontend

Decode user code from base64
  src/client/src/components/ChallengeResult.js
Due: test-frontend, build-frontend, deploy-frontend

fixed issue with emails not sending
  src/client/src/components/AddParticipants.js
  src/client/src/components/Edit.js
  src/client/src/components/EditTest.js
Due: test-frontend, build-frontend, deploy-frontend

Save language used for each test in codingtest
  src/client/src/components/CodingTest/CodingTest.js
  src/client/src/components/CodingTest/Header.js
  src/client/src/components/CodingTest/Problem.js
Due: test-frontend, build-frontend, deploy-frontend

improved video interview ui
  src/client/src/__tests__/EditTest.test.js
  src/client/src/components/CodingTest/VideoInterview/Camera.js
  src/client/src/components/CodingTest/VideoInterview/VideoRecord.js
Due: test-frontend, build-frontend, deploy-frontend

syntax highlighter for participant code
  src/client/package.json
  src/client/src/components/ChallengeResult.js
  src/client/yarn.lock
Due: test-frontend, build-frontend, deploy-frontend

jest unit test adjustment
  src/client/src/components/AddParticipants.js
  src/client/src/components/ChallengeResult.js
Due: test-frontend, build-frontend, deploy-frontend

syntax highlighter for different languages
  src/client/src/components/ChallengeResult.js
  src/client/src/components/EditChallenge.js
  src/client/src/components/EditQuestions.js
Due: test-frontend, build-frontend, deploy-frontend

more end to end testing
  src/client/src/components/AddParticipants.js
  src/client/src/components/EditTest.js
  src/client/src/components/Navbar.js
  src/client/src/components/NewChallenge.js
  src/functions/end-to-end testing/cypress/integration/my-tests/edit-test-actions.test.js
  src/functions/end-to-end testing/cypress/integration/my-tests/login-actions.test.js
  src/functions/end-to-end testing/cypress/integration/my-tests/setup-test-actions.test.js
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

fixed 404 error with signup with email
  src/client/src/components/Login.js
  src/client/src/components/Signup.js
Due: test-frontend, build-frontend, deploy-frontend

Add Google cloud instance endpoint for RCE
  src/client/src/endpoints.js
  src/functions/package.json
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

Favour long requests over polling to reduce load
  src/client/src/codeExecutionEndpoint.js
  src/remoteCodeExecution/controllers/submission.js
Due: test-frontend, build-frontend, deploy-frontend

another end to end test
  cypress.json
  src/client/yarn.lock
  src/functions/end-to-end testing/cypress/integration/my-tests/setup-test-actions.js
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

Added delete account function
  src/client/src/components/AddParticipants.js
  src/client/src/components/Dashboard.js
  src/client/src/components/DeleteAccountAlert.js
  src/client/src/contexts/AuthContext.js
  src/client/src/endpoints.js
  src/functions/controllers/email.js
  src/functions/controllers/users.js
  src/functions/index.js
  src/functions/models/ParticipantsModel.js
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

end to end test
  src/client/src/components/DeleteAccountAlert.js
  src/functions/end-to-end testing/cypress/integration/my-tests/create-account-actions.js
Due: test-frontend, test-backend, build-frontend, deploy-backend, deploy-frontend

delete particpant documents in db when delete test
  src/functions/controllers/users.js
Due: test-backend, deploy-backend

Path conditions:
  test-frontend: any of: src/client/**/*
  test-backend: any of: src/functions/**/*
  build-frontend: any of: src/client/**/*
  deploy-backend: any of: src/functions/**/*
  deploy-frontend: any of: src/client/**/*
