Repository Janesh98/CodingTest-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, test-frontend, test-backend, test-RCE, deploy-backend, deploy-frontend, prod-e2e

.gitlab-ci.yml:

image: node:lts

stages:
  - build
  - test
  - deploy
  - e2e

## Set environment variables for folders in "cache" job settings for npm modules and Cypress binary
variables:
  npm_config_cache: '$CI_PROJECT_DIR/.npm'
  CYPRESS_CACHE_FOLDER: '$CI_PROJECT_DIR/cache/Cypress'

# cache:
#   # Define a cache with the key: ${CI_COMMIT_REF_SLUG} so that jobs of each branch always use the same cache
#   key: ${CI_COMMIT_REF_SLUG}
#   paths:
#     # - cache/Cypress
#     - ./src/client/node_modules/
#     - ./src/functions/node_modules/
#     - ./src/remoteCodeExecution/node_modules/

build-frontend:
  stage: build
  cache:
    key: frontend-cache
    paths:
      - ./src/client/node_modules/
  script:
    - cd src/client
    - yarn
    - yarn build
  artifacts:
    expire_in: 1 mos
    paths:
      - ./src/client/build/
  only:
    changes:
      - src/client/**/*
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure

test-frontend:
  stage: test
  cache:
    key: frontend-cache
    paths:
      - ./src/client/node_modules/
    policy: pull
  script:
    - cd src/client
    - yarn
    - yarn test --watchAll=false
  only:
    changes:
      - src/client/**/*
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure

test-backend:
  stage: test
  cache:
    key: backend-cache
    paths:
      - ./src/functions/node_modules/
  script:
    - cd src/functions
    - npm i
    - npm test
  only:
    changes:
      - src/functions/**/*
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure

test-RCE:
  stage: test
  cache:
    key: rce-cache
    paths:
      - ./src/remoteCodeExecution/node_modules/
  script:
    - cd src/remoteCodeExecution
    - npm i
    - npm run test:unit
  only:
    changes:
      - src/remoteCodeExecution/**/*
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure

deploy-backend:
  stage: deploy
  before_script:
    - npm i -g firebase-tools
  script:
    - cd src/functions
    - npm i --production # don't install dev dependencies
    - firebase deploy --only functions --token $FIREBASE_TOKEN
  cache: {} # Disable globally defined cache
  dependencies: [] # Don't download artifacts
  only:
    refs:
      - master
    changes:
      - src/functions/**/*
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure

deploy-frontend:
  stage: deploy
  before_script:
    - npm i -g firebase-tools
  script:
    - cd src/client
    - yarn install --prod # don't install dev dependencies
    - yarn build
    - firebase deploy --only hosting --token $FIREBASE_TOKEN
  cache: {} # Disable globally defined cache
  dependencies: [] # Don't download artifacts
  only:
    refs:
      - master
    changes:
      - src/client/**/*
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure

prod-e2e:
  image: cypress/browsers:node14.16.0-chrome89-ff86
  stage: e2e
  script:
    - cd src/e2e
    - npx cypress run --browser chrome
  when: delayed
  start_in: 10 minutes
  cache: {} # Disable globally defined cache
  dependencies: [] # Don't download artifacts
  only:
    refs:
      - master
    changes:
      - src/remoteCodeExecution/**/*
      - src/functions/**/*
      - src/client/**/*
      - src/e2e/**/*
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure

Save Code onChange and restore on browser refresh
  src/client/src/codeExecutionEndpoint.js
  src/client/src/components/CodingTest/Header.js
  src/client/src/components/CodingTest/Problem.js
  src/client/src/components/CodingTest/context/CodingTestState.js
Due: build-frontend, test-frontend, deploy-frontend, prod-e2e

changed results page if code is not run
  src/client/src/components/ChallengeResult.js
  src/client/src/components/ParticipantsResults.js
Due: build-frontend, test-frontend, deploy-frontend, prod-e2e

results page if no video qs asked
  src/client/src/components/CodingTest/Header.js
  src/client/src/components/ParticipantsResults.js
Due: build-frontend, test-frontend, deploy-frontend, prod-e2e

fixed issue with some arrays in db not updating
  src/functions/__tests__/integration/delete.test.js
  src/functions/controllers/Test.js
  src/functions/controllers/delete.js
Due: test-backend, deploy-backend, prod-e2e

Add performance load test
  src/client/package.json
  src/functions/package.json
  src/performance/load.js
  src/remoteCodeExecution/package.json
Due: build-frontend, test-frontend, test-backend, test-RCE, deploy-backend, deploy-frontend, prod-e2e

added time limit to coding test
  src/client/package.json
  src/client/src/components/CodingTest/Header.js
  src/client/src/components/CodingTest/Problem.js
  src/client/src/components/CodingTest/context/CodingTestReducer.js
  src/client/src/components/CodingTest/context/CodingTestState.js
  src/client/src/components/Create.js
  src/client/yarn.lock
  src/functions/__tests__/integration/test.test.js
  src/functions/__tests__/unit/codingTest.test.js
  src/functions/controllers/Test.js
  src/functions/controllers/codingTest.js
  src/functions/models/CodingTestModel.js
  src/functions/models/ParticipantsModel.js
Due: build-frontend, test-frontend, test-backend, deploy-backend, deploy-frontend, prod-e2e

Connect timeout in CodingTest UI and RCE
  src/client/src/components/CodingTest/CodeEditor.js
  src/client/src/components/CodingTest/Header.js
  src/remoteCodeExecution/package-lock.json
  src/remoteCodeExecution/package.json
Due: build-frontend, test-frontend, test-RCE, deploy-frontend, prod-e2e

added deadline to coding test
  src/client/src/App.js
  src/client/src/__tests__/EditChallenge.test.js
  src/client/src/__tests__/NewChallenge.test.js
  src/client/src/components/AddParticipants.js
  src/client/src/components/CodingTest/Problem.js
  src/client/src/components/CodingTest/testExpired.js
  src/client/src/components/EditChallenge.js
  src/client/src/components/NewChallenge.js
  src/functions/__tests__/integration/email.test.js
  src/functions/__tests__/integration/participant.test.js
  src/functions/__tests__/unit/codingTest.test.js
  src/functions/__tests__/unit/email.test.js
  src/functions/controllers/codingTest.js
  src/functions/controllers/email.js
  src/functions/models/ParticipantsModel.js
Due: build-frontend, test-frontend, test-backend, deploy-backend, deploy-frontend, prod-e2e

filter test cases
  src/functions/controllers/challenges.js
Due: test-backend, deploy-backend, prod-e2e

changes to test case filter
  src/functions/controllers/challenges.js
Due: test-backend, deploy-backend, prod-e2e

Add new RCE domain and update e2e for codingTest
  src/client/.env
  src/e2e/cypress/integration/my-tests/codingTest-actions.js
Due: build-frontend, test-frontend, deploy-frontend, prod-e2e

Fix timeout bug
  src/remoteCodeExecution/services/ExecutorService.js
Due: test-RCE, prod-e2e

Fix ExecutorService unit test
  src/remoteCodeExecution/__tests__/unit/ExecutorService.test.js
Due: test-RCE, prod-e2e

small edit to setup challenges
  src/client/src/__tests__/Card.test.js
  src/client/src/__tests__/EditChallenge.test.js
  src/client/src/__tests__/NewChallenge.test.js
  src/client/src/__tests__/Setup.test.js
  src/client/src/components/Card.js
  src/client/src/components/EditChallenge.js
  src/client/src/components/NewChallenge.js
  src/client/src/components/Setup.js
Due: build-frontend, test-frontend, deploy-frontend, prod-e2e

Add JavaScript
  src/remoteCodeExecution/services/ExecutorService.js
Due: test-RCE, prod-e2e

Add Testing and API documentation
  docs/documentation/API Documentation.pdf
  docs/documentation/Testing Documentation.pdf
Due: none

added user manual
  docs/documentation/User manual.pdf
Due: none

added technical guide
  docs/documentation/Technical Guide.pdf
Due: none

Update API docs
  docs/documentation/API Documentation.pdf
Due: none

added video link to walkthrough
  docs/video-walk-through/README.md
Due: none

Update README.md
  README.md
Due: none

Update README.md
  docs/video-walk-through/README.md
Due: none

Update coding test url for e2e
  src/e2e/cypress/integration/my-tests/codingTest-actions.js
Due: prod-e2e

Update Technical Guide
  docs/documentation/Technical Guide.pdf
Due: none

updated user manual
  docs/documentation/User manual.pdf
Due: none

Update Pipeline
  .gitlab-ci.yml
  src/client/src/firebase.js
  src/functions/config/ConnectMongo.js
  src/functions/package-lock.json
  src/functions/package.json
Due: build-frontend, test-frontend, test-backend, deploy-backend, deploy-frontend, prod-e2e

Dockerize & Update code execution implementation
  src/remoteCodeExecution/Dockerfile
  src/remoteCodeExecution/__tests__/unit/ExecutorService.test.js
  src/remoteCodeExecution/config/dockerSetup.js
  src/remoteCodeExecution/docker-compose.yml
  src/remoteCodeExecution/entrypoint.sh
  src/remoteCodeExecution/services/ExecutorService.js
Due: test-RCE, prod-e2e

Improve timeout functionality
  src/remoteCodeExecution/__tests__/unit/ExecutorService.test.js
  src/remoteCodeExecution/docker-compose.yml
  src/remoteCodeExecution/services/ExecutorService.js
  test.py
Due: test-RCE, prod-e2e

Improve runtime calculation functionality
  src/remoteCodeExecution/__tests__/unit/ExecutorService.test.js
  src/remoteCodeExecution/package-lock.json
  src/remoteCodeExecution/services/ExecutorService.js
  test.py
Due: test-RCE, prod-e2e

Improve runtime calculation functionality
  src/remoteCodeExecution/__tests__/unit/ExecutorService.test.js
  src/remoteCodeExecution/__tests__/unit/runTime.test.js
  src/remoteCodeExecution/services/ExecutorService.js
  src/remoteCodeExecution/utils/runTime.js
Due: test-RCE, prod-e2e

Update cypress
  .gitignore
  src/cypress.config.js
  src/cypress.json
  src/cypress/support/commands.js
  src/cypress/support/e2e.js
Due: none

Update RCE service url
  src/client/.env
Due: build-frontend, test-frontend, deploy-frontend, prod-e2e

Update cypress config
  src/cypress.config.js
  src/cypress/support/commands.js
  src/cypress/support/e2e.js
  src/e2e/cypress.config.js
  src/e2e/cypress.json
  src/e2e/cypress/cypress/fixtures/example.json
  src/e2e/cypress/cypress/plugins/index.js
  src/e2e/cypress/cypress/support/commands.js
  src/e2e/cypress/cypress/support/index.js
  src/e2e/cypress/e2e/my-tests/codingTest-actions.cy.js
  src/e2e/cypress/e2e/my-tests/create-account-actions.cy.js
  src/e2e/cypress/e2e/my-tests/edit-test-actions.cy.js
  src/e2e/cypress/e2e/my-tests/login-actions.cy.js
  src/e2e/cypress/e2e/my-tests/setup-test-actions.cy.js
  src/e2e/cypress/support/e2e.js
  src/e2e/email-test.sh
Due: prod-e2e

Update cypress test
  src/e2e/cypress/e2e/my-tests/edit-test-actions.cy.js
Due: prod-e2e

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none
